.feeVideos {
	margin: 60px 0;
	h1 {
		font-size: 48px;
		margin-bottom: 40px;
		text-align: center;
	}
	.swiper-slide {
		border-radius: 20px;
		overflow: hidden;
		width: 420px;
	}

	.video-slider__item {
		height: 500px;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
	}

	.video-overlay {
		display: none;
	}

	.video-overlay.show {
		display: block;
		background: transparent;
		position: absolute;
		top: 10%;
		left: 0;
		width: 100%;
		height: 75%;
		z-index: 3;
	}

	.video-slider__item-frame {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 2;
		opacity: 0;
		.iframe-wrapper {
			width: 100%;
			height: 100%;
			position: relative;
			pointer-events: none; // 👈 важливо: не блокує свайп

			iframe {
				width: 100%;
				height: 100%;
				pointer-events: auto; // 👈 але iframe працює
			}
		}
	}

	.video-slider__item-frame.show {
		opacity: 1;
	}

	.video-slider__item::after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		border-left: 40px solid white;
		pointer-events: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.video-slider__item-bottom {
		position: absolute;
		bottom: 0;
		padding: 20px;
		background: rgba(0, 0, 0, 0.6);
		color: white;
		width: 100%;
		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}

		span {
			font-size: 16px;
		}
	}
}

@media all and (max-width: 768px) {
	.feeVideos {
		margin: 60px 0;
		.container {
			padding: 0;
		}
		h1 {
			font-size: 28px;
			margin-bottom: 30px;
		}
		.swiper-slide {
			border-radius: 20px;
			overflow: hidden;
			width: 80%;
		}

		.video-slider__item {
			height: 532px;
			border-radius: 20px;
			overflow: hidden;
			position: relative;
		}
		.video-slider__item-bottom {
			h2 {
				font-size: 20px;
			}

			span {
				font-size: 16px;
			}
		}
	}
}
