.catalog-materials {
	&__list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
		li {
			width: 116px;
		}
		li:last-child {
			margin-right: auto;
		}
		span {
			font-size: 12px;
			font-weight: 500;
		}
		img {
			background: var(--litegray);
			display: block;
			width: 116px;
			height: 80px;
			border-radius: 8px;
		}
	}
	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 36px;
		gap: 30px;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__toggles {
		display: flex;
		gap: 30px;
		align-items: center;
	}

	&__toggle {
		background: none;
		cursor: pointer;
		border: none;
		color: var(--dark);
		span {
			display: block;

			&:nth-child(1) {
				font-size: 20px;
				font-weight: 600;
				white-space: nowrap;
			}

			&:nth-child(2) {
				font-size: 14px;
			}
		}
	}

	&__toggle.active {
		color: var(--red);
	}

	.catalog-materials__search {
		display: flex;
		gap: 15px;
		align-items: center;
		.catalog-materials__search-inp {
			position: relative;
		}

		input {
			display: block;
			height: 44px;
			border-radius: 6px;
			font-size: 16px;
			padding: 0 30px 0 10px;
			max-width: 460px;
			width: 100%;
		}

		.catalog-materials__search-clear {
			position: absolute;
			background: none;
			top: calc(50% + 1px);
			transform: translateY(-50%);
			right: 10px;
			border: none;
			cursor: pointer;
			img {
				filter: brightness(0) saturate(100%);
			}
		}
		.catalog-materials__load-btn {
			width: 44px;
			height: 44px;
			border: none;
			background: none;
			cursor: pointer;
		}
	}
}

@media all and (max-width: 1280px) {
	.catalog-materials {
		&__list {
			justify-content: center;
		}
		li:last-child {
			margin-right: 0;
		}
	}
}

@media all and (max-width: 480px) {
	.catalog-materials {
		&__list {
			gap: 8px;
			justify-content: space-between;
			li {
				width: calc(25% - 6px);
			}
			li:last-child {
				margin-right: auto;
			}
			span {
				font-size: 10px;
				font-weight: 500;
			}
			img {
				background: var(--litegray);
				display: block;
				width: 100%;
				height: auto;
				border-radius: 6px;
			}
		}

		&__top {
			justify-content: center;
		}

		&__toggles {
			gap: 10px;
			justify-content: space-between;
			align-items: flex-start;
		}

		&__toggle {
			max-width: 120px;
			span {
				&:nth-child(1) {
					font-size: 16px;
					font-weight: 600;
					white-space: nowrap;
				}

				&:nth-child(2) {
					font-size: 13px;
				}
			}
		}

		.catalog-materials__search {
			flex-direction: row-reverse;
			width: 100%;
			.catalog-materials__search-inp {
				width: 100%;
			}
			input {
				flex-shrink: 0;
			}
		}
	}
}
