// modal.scss
@keyframes modalFadeIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;

	.modal-content {
		position: relative;
		background: var(--dark);
		border-radius: 20px;
		padding: 16px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		max-height: 90vh;
		max-height: 90dvh;
		overflow-y: auto;
		max-width: 90vw;
		width: auto;
		animation: modalFadeIn 0.3s;
		box-shadow: var(--shadowModal);
	}

	.modal-close-btn {
		background: none;
		border: none;
		width: 20px;
		height: 20px;
		color: white;
		position: absolute;
		right: 30px;
		top: 30px;
		cursor: pointer;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

@media all and (max-width: 1024px) {
	.modal-overlay {
		.modal-close-btn {
			right: 15px;
			top: 15px;
		}
	}
}
