.SoloProject {
	margin: 60px 0;

	.SoloProject__wrapper {
		display: flex;
		gap: 40px;
	}

	.SoloProject__slider {
		max-width: 500px;
		width: 100%;
		flex-shrink: 0;

		.SoloProject__slider-top {
			width: 100%;

			img {
				width: 100%;
				height: auto;
				aspect-ratio: 1/1;
				object-fit: cover;
				border-radius: 6px;
			}
		}

		.SoloProject__slider-bottom {
			width: 100%;

			img {
				width: 100%;
				height: auto;
				aspect-ratio: 1.5/1;
				object-fit: cover;
				border-radius: 6px;
			}
		}
	}

	.SoloProject__content {
		h1 {
			font-size: 28px;
			font-weight: 600;
			width: 90%;
			margin-bottom: 10px;
		}
		p {
			margin: 8px 0;
			font-size: 16px;
		}
		.btn {
			margin-top: 25px;
		}
	}
}

@media all and (max-width: 1024px) {
	.SoloProject {
		.SoloProject__wrapper {
			flex-direction: column;
			gap: 30px;
		}

		.SoloProject__content {
			h1 {
				font-size: 26px;
				margin-bottom: 10px;
			}
			p {
				margin: 8px 0;
				font-size: 16px;
			}
		}
	}
}
