:root {
	/* Основні кольори */
	--dark: #000000;
	--light: #ffffff;
	--gray: #373737;
	--middlegray: #585858;
	--litegray: #cccccc;
	--red: #d00000;
	--litered: #ff0000;
	--carddark: #212121;
	--shadowGray: 1px 1px 4px #cccccc;
	--shadowDark: 0px 4px 8px #cccccc, 0px -2px 6px #e1e1e1;
	--shadowModal: 0px 1px 6px rgba(75, 75, 75, 0.43);
	--grayLight: #f9fafb;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	color: var(--dark);
	background: var(--light);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: auto;
}

body.fixed-body {
	overflow: hidden;
	padding-right: 8px;
}

@media (max-width: 1024px) and (pointer: coarse) {
	body.fixed-body {
		overflow: hidden;
		padding-right: 0;
	}
}

body::-webkit-scrollbar {
	width: 8px;
	background: var(--litegray);
}

body::-webkit-scrollbar-thumb {
	background: var(--red);
	width: 8px;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	background: var(--red);
	color: var(--light);
	font-size: 18px;
	font-weight: 500;
	border-radius: 6px;
	min-width: 170px;
	padding: 0 20px;
	cursor: pointer;
	transition: all 0.3s;
	border: none;
	height: 44px;
	line-height: 44px;
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: center;
}

.btn-second {
	background: var(--light);
	color: var(--dark);
	font-size: 18px;
	font-weight: 500;
	border-radius: 6px;
	min-width: 170px;
	padding: 0 20px;
	cursor: pointer;
	transition: all 0.3s;
	border: 1px solid var(--dark);
	height: 44px;
	line-height: 44px;
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: center;
}

.btn:hover {
	background: var(--litered);
}

.logo a {
	display: block;
	height: 44px;
}

section {
	margin: 120px 0;
}

@media all and (max-width: 768px) {
	section {
		margin: 80px 0;
	}
}
